/* header */
.logo {
    margin: 0;
    letter-spacing: 2px;
    font-size: 32px;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 1;
}

header .menu {
    display: flex;
}

header .menu .menu-item:first-child {
    padding-left: 0;
}

header .menu .menu-item:last-child {
    padding-right: 0;
}

header .menu-item:not(.sub-menu li) {
    padding: 0 15px;
}

header .menu-item:hover .sub-menu {
    display: block;
}

header .sub-menu {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid rgb(35, 27, 12);
    margin-top: 20px;
    padding: 0 10px 10px;
    max-width: 100px;
    text-align: center;
}

header .sub-menu .menu-item {
    padding-top: 10px;
}

.header_nav-menu .menu-item-has-children {
    display: flex;
    justify-content: center;
}

/* endheader */
.hero {
    position: relative;
}

.hero_text {
    display: flex;
    align-items: flex-end;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 0 0 100px 20px;
    background-color: rgba(147, 104, 61, 0.069);
}

.hero_title {
    margin: 0 0 8px;
    font-size: 42px;
}

.hero_subheading {
    margin: 0 0 30px 0;
}

.hero_text-wrapper {
    padding: 20px;
}

.hero_image img {
    max-height: 70vh;
    object-fit: contain;
}

/* others */
body {
    margin: 77px 0 0 0;
}

.margin-left {
    margin-left: calc((50vw - 40%) / 3 + 40px);
}

a {
    text-decoration: none;
    color: black;
}

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.primaryButton {}

.secondaryButton {
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 20px;
}

img {
    width: 100%;
}

svg {
    display: block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {}

.dash {
    height: 1px;
    width: 22px;
    margin-right: 10px;
    background: black;
}

.hidden {
    display: none;
}

.align-center {
    text-align: center;
}

/* endothers */

/* front page */
.frontPage_posts-title {
    padding-left: 50px;
}

.frontPage_posts {
    max-width: 1000px;
    margin: 0 auto 90px;
}

.services {
    padding: 40px 0;
    background-color: rgba(147, 104, 61, 0.069);
}

.accordionServices {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.accordionServices_body {
    max-width: 450px;
    width: 100%;
}

.accordionServices_content {
    padding-bottom: 20px;
}

.accordionServices_heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 30px 0;
}

.accordionServices_heading a {
    text-decoration: underline;
}

.accordionServices-heading h1 {
    margin: 0;
}

.accordionServices_title {
    padding: 20px 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordionServices_item {
    border-bottom: 1px solid #000;
}

.accordionServices_title h3 {
    margin: 0;
}

.active .accordionServices_content,
.active .accordion_hiden {
    display: block;
}

.active .accordion_show {
    display: none;
}

/* end frond page */

.categories_inline {
    margin: 10px 0 20px;
    padding-bottom: 0.5px;
    border-bottom: 1px solid;
    width: fit-content;
    color: cadetblue;
}

.categories_inline a {
    color: cadetblue;
}

/* columns with image and text */
.columnSection_wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.columnSection {
    max-width: 1200px;
    margin: 0 auto;
}

.columnSection_heading {
    margin: 0 0 50px;
}

.columnSection_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 3);
    margin-bottom: 40px;
}

.columnSection_img {
    margin-bottom: 20px;
}

.columnSection_img img {
    max-width: 150px;
    width: 100%;
}

.columnSection_description {
    max-width: 250px;
}

/* custom posts */
.customPost_content figure {
    margin: 0;
}

.customPost {
    display: flex;
    justify-content: center;
}

.customPost_content {
    max-width: 600px;
}

.customPost_text {
    padding-top: 100px;
    max-width: 40%;
}

.customPost_content img {
    height: auto;
    width: 100%;
}

/* simple poost */
.simple_post-view {
    max-width: 50%;
    max-height: 500px;
}

.simple_post-view img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.simple_post {
    display: flex;
    justify-content: space-between;
}

.simple_post-text {
    max-width: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.simple_post-text .wrapper {
    padding: 40px 50px;
}

/* .simple_post-button {

} */

.features_list {
    padding: 0;
}

.features_list li {
    display: flex;
    align-items: center;
}