/* <576px
sm	≥576px
md	≥768px
lg	≥992px
xl	≥1200px
xxl	≥1400px */

/* typography */
h1,
h2,
h3,
h4,
h5 {
    font-family: camforta;
    margin: 0;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 38px
}

h3 {
    font-size: 31px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

.body1,
.body2,
.body3 {
    font-family: clear-sans;
    line-height: 1.37;
}

.body1 {
    font-size: 17px;
}

.body2 {
    font-size: 16px;
}

.body3 {
    font-size: 14px;
}

.capturedH1 {
    font-size: 42px;
}

.captured {
    font-family: roboto-light;
    font-size: 17px;
}

.captured2 {
    font-family: roboto;
    font-size: 17px;
}

input,
textarea,
button {
    font-family: roboto;
}

input,
textarea {
    font-size: 15px;
    border: 1px solid #626560;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 45px;
    }

    h2 {
        font-size: 35px
    }

    h3 {
        font-size: 28px;
    }

    h4 {
        font-size: 19px;
    }

    h5 {
        font-size: 17px;
    }

    .capturedH1 {
        font-size: 30px;
    }
}

/* endtypografy */

/* header */
.logo {
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 2px;
    font-size: 32px;
    padding: 21px 0;
    cursor: pointer;
}

.activeHeader {
    background-color: #626560;
}

.activeHeaderImportant {
    background-color: #626560 !important;
}

.activeHeaderImportant a {
    color: white;
}

.activeHeaderImportant .sub-menu a,
.activeHeaderImportant .mobile_menu a {
    color: black;
}

.activeHeaderImportant .toggle_menu svg,
.activeHeader .submenu_arrow svg,
.activeHeaderImportant .submenu_arrow svg {
    fill: white;
}

.activeHeader .toggle_menu svg path,
.activeHeaderImportant .toggle_menu svg path {
    stroke: white;
}

.activeHeader .desktop_header a:not(.desktop_header .sub-menu a) {
    color: white;
}

.mobile_menu .submenu_arrow svg {
    fill: black;
}

header {
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transition: .2s ease-in;
    z-index: 1;
}

.desktop_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: relative;
}

.desktop_header .menu {
    display: flex;
}

.desktop_header .menu-item {
    position: relative;
}

.desktop_header .menu .menu-item:first-child {
    padding-left: 0;
}

.desktop_header .menu .menu-item:last-child {
    padding-right: 0;
}

.desktop_header .menu-item:not(.sub-menu li) {
    padding: 29px 15px;
}

.desktop_header .menu-item:hover .sub-menu {
    display: block;
}

.desktop_header .sub-menu {
    display: none;
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    top: 80%;
    background-color: white;
    border: 1px solid rgb(35, 27, 12);
    padding: 0 10px 10px;
    min-width: 100px;
}

.desktop_header .sub-menu .menu-item {
    padding-top: 10px;
}

.desktop_header_nav-menu .menu-item-has-children {
    display: flex;
    justify-content: center;
}

.desktop_header_nav-menu .submenu_arrow {
    pointer-events: none;
}

.activeHeader .burger_menu svg path {
    fill: white;
}

.toggle_menu {
    cursor: pointer;
}

.toggle_menu svg {
    width: 25px;
}

.active .close_icon {
    display: block;
}

.active .burger_menu {
    display: none;
}

.mobile_menu {
    background-color: white;
    padding: 20px;
}

header .itemWrapper {
    width: 100%;
    display: flex;
}

.submenu_arrow {
    padding-top: 2px;
    margin-left: 7px;
}

li.active .submenu_arrow {
    transform: scaleY(-1);
}

.desktop_header .itemWrapper svg {
    width: 13px;
}

.mobile_menu .itemWrapper svg {
    width: 15px;
    margin: 0 0 0 auto;
}

.mobile_menu .menu-item {
    padding: 15px 0;
}

.mobile_menu .menu-item {
    border-bottom: 1px solid black;
}

.mobile_menu .menu-item:first-child {
    padding-top: 0;
}

.mobile_menu .menu-item.active {
    padding-bottom: 0;
}

.mobile_menu .sub-menu {
    padding: 10px 0 0 15px;
}

.mobile_menu .menu-item.active {
    border: none;
}

.mobile_menu .submenu_arrow {
    width: 100%;
}

@media screen and (min-width: 769px) {
    .active[data-toggle-item].mobile_menu.active {
        display: none;
    }
}

/* endheader */
.hero {
    position: relative;
}

.hero_text {
    display: flex;
    align-items: flex-end;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 0 0 100px 20px;
}

.hero_title {
    margin: 0 0 8px;
}

.hero_subheading {
    margin: 0 0 50px 0;
    color: #626560
        /* color: rgb(255, 179, 0)  */
}

.hero_text-wrapper {
    padding: 20px;
}

.hero_image img {
    max-height: 70vh;
    object-fit: contain;
}

@media screen and (max-width: 992px) {
    .hero_text {
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .hero_text-wrapper {
        text-align: center;
        background-color: rgba(255, 255, 255, 0.85);
    }

    .hero_subheading {
        margin-bottom: 25px;
    }
}

/* others */
body {
    margin: 77px 0 0 0;
}

.margin-left {
    margin-left: calc((50vw - 40%) / 3 + 40px);
}

a {
    text-decoration: none;
    color: black;
}

[disabled] {
    cursor: auto !important;
}

form button,
button,
[type=submit] {
    background: inherit;
    border: none;
    border-radius: 20px;
    padding: 0;
    cursor: pointer;
}

.primaryButton {
    border: 1px solid black;
    padding: 12px 18px;
    font-size: 17px;
}

.secondaryButton {
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 15px;
}

img {
    width: 100%;
}

svg {
    display: block;
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dash {
    height: 1px;
    width: 22px;
    margin-right: 10px;
    background: black;
}

.hidden {
    display: none;
}

.unvisible {
    visibility: hidden;
}

.postSlider.smooth {
    transition: 0.4s ease-in;
    opacity: 1;
}

[data-toggle-target] {
    cursor: pointer
}

[data-toggle-item] {
    display: none;
}

.align-center {
    text-align: center;
}

.bodyLock {
    overflow: hidden;
}

.blure_background {
    /* background-color: rgba(147, 104, 61, 0.069); */
    background-color: rgb(255 244 224 / 7%);
    -webkit-filter: blur(7px);
    filter: blur(7px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.hero .blure_background {
    z-index: 0;
}

@media screen and (max-width: 768px) {
    .large_hidden_low_visible {
        display: block;
    }

    .large_visible_low_hidden {
        display: none;
    }
}

@media screen and (min-width: 769px) {
    .large_hidden_low_visible {
        display: none;
    }

    .large_visible_low_hidden {
        display: block;
    }
}

/* endothers */

/* simple poost */
.simple_post-title {
    margin-bottom: 28px;
}

.simple_post-view {
    width: 50%;
    line-height: 0;
}

.simple_post-view img {
    height: 100%;
    object-fit: cover;
    max-height: 500px;
}

.simple_post {
    display: flex;
    justify-content: space-between;
}

.simple_post-text {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.simple_post-text .wrapper {
    height: 100%;
    padding: 40px 50px;
    border: 1px solid silver;
}

.simple_post-button {
    margin-top: 20px;
}

.features_title {
    margin-bottom: 17px;
}

.features_list {
    padding: 0;
}

.features_list-item {
    margin-bottom: 10px;
}

.features_list li {
    display: flex;
    align-items: center;
}

/* endsimple post */

/* post slider */
.postModalSlider {
    background-color: rgb(0 0 0 / 90%);
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.postModalSlider.hidden {
    display: none;
}

.postSlider {
    max-height: calc(90vh);
    width: 100%;
    opacity: 0;
    order: 2;
}

.slide_prev {
    left: 0;
    order: 1;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.slide_next {
    right: 0;
    order: 2;
}

.slideArrow {
    cursor: pointer;
    position: absolute;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

.slideArrow[disabled] {
    background-color: rgba(225, 225, 225, 0.5);
}

.slideArrow[disabled] svg {
    fill: rgb(166, 166, 166);
    pointer-events: none;
}

.slideArrow svg {
    width: 19px;
    fill: white;
    transform: translate(7%, 3%);
}

.postModalSlider svg path {
    stroke: white;
}

.postModalSlider-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* front page */
.customPosts_section {
    position: relative;
}

.frontPage_posts-title {
    margin-bottom: 35px;
    text-align: center;
}

.frontPage_posts {
    max-width: 1000px;
    margin: 0 auto;
    padding: 60px 40px;
}

.services {
    padding: 40px 20px;
    position: relative;
}

.accordionServices {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.accordionServices_body {
    max-width: 450px;
    width: 100%;
}

.accordionServices_content {
    padding-bottom: 20px;
}

.accordionServices_heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 30px 0;
}

.accordionServices_heading a {
    text-decoration: underline;
}

.accordionServices-heading h1 {
    margin: 0;
}

.accordionServices_title {
    padding: 20px 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordionServices_item {
    border-bottom: 1px solid #000;
}

.active[data-toggle-item],
.active .accordion_hiden {
    display: block;
}

.active .accordion_show {
    display: none;
}

.active {
    display: block;
}

@media screen and (max-width: 768px) {
    .frontPage_posts-title {
        margin-bottom: 25px;
        text-align: left;
    }

    .frontPage_posts {
        padding: 0 20px;
    }

    .frontPage_posts .simple_post {
        flex-direction: column !important;
    }

    .simple_post-text .wrapper {
        padding: 20px 20px 25px;
    }

    .frontPage_posts .simple_post-text,
    .frontPage_posts .simple_post-view {
        width: 100%;
    }

    .simple_post-view img {
        max-height: 350px;
    }
}

@media screen and (max-width: 992px) {
    .accordionServices {
        flex-direction: column-reverse;
        align-items: initial;
    }

    .accordionServices_heading {
        margin: 20px 0 15px 0;
    }

    .accordionServices_body {
        max-width: 100%;
    }

    .accordionServices_image {
        margin: 0;
        height: auto;
        position: relative;
        width: 67%;
        padding-top: 45%;
    }

    .accordionServices_image img {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
    }
}

@media screen and (max-width: 576px) {}


/* end frond page */

.categories_inline {
    margin: 15px 0 25px;
    padding-bottom: 0.5px;
    width: 100%;
    color: cadetblue;
}

.categories_inline a {
    color: cadetblue;
    border-bottom: 1px solid;
}

/* columns with image and text */
.benefits {
    position: relative;
}

.columnSection {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px 0;
}

.blure_background-green {
    /* background-color: rgba(147, 147, 61, 0.069); */
    background-color: rgb(187 230 255 / 7%);
}

.columnSection_wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.columnSection_heading {
    margin: 0 0 50px;
}

.columnSection_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 3);
    margin-bottom: 60px;
}

.columnSection_block:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.columnSection_img {
    max-width: 100px;
    margin-bottom: 20px;
}

.columnSection_img img {
    max-width: 150px;
    width: 100%;
}

.columnSection_description {
    max-width: 180px;
}

@media screen and (max-width: 768px) {
    .columnSection {
        padding-top: 45px;
    }

    .columnSection_heading {
        margin: 0 0 40px;
    }

    .columnSection_block {
        width: calc(100% / 2);
        margin-bottom: 50px;
    }

    .columnSection_block:nth-last-child(-n+2) {
        margin-bottom: 0;
    }
}

/* custom posts */
.customPost {
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

.customPost_content figure {
    margin: 0;
}

.customPost_card {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
}

.customPost .categories_inline {
    margin: 10px 0 30px 0;
}

.customPost_wrapper {
    position: relative;
    padding: 40px;
}

.customPost_text {
    position: relative;
    max-width: 40%;
}

.customPost_text-wrapper {
    background-color: white;
    box-shadow: rgb(0 0 0 / 15%) 0px 5px 15px 0px;
    border-radius: 9px;
    padding: 20px;
    position: sticky;
    top: 100px
}

.customPost_content img {
    height: auto;
    width: 100%;
}

.customPostFeedbackBtn {
    margin-bottom: 20px;
}

@media screen and (max-width: 992px) {
    .customPost {
        flex-direction: column-reverse;
    }

    .customPost_text {
        position: relative;
        margin: 0 0 30px;
    }

    .customPost_wrapper {
        padding: 20px;
    }
}

/* footer */
.noBlureFooter {
    background-color: rgba(147, 104, 61, 0.069);
    filter: none;
}

footer {
    padding: 40px 20px;
    position: relative;
}

footer .menu-item a {
    margin-bottom: 5px;
    display: block;
}

footer .logo {
    padding: 0;
    flex-grow: 2;
}

footer .logo img {
    max-width: 150px;
    margin: 0 auto;
    display: block;
    padding: 0;
}

.footerWrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.footerMenu {
    flex-grow: 3;
}

.footerMenu .menu {
    display: flex;
    justify-content: space-between;
}

.footerFeedback {
    flex-grow: 2;
}

.footerWrapper .logo a:hover,
.footerWrapper .menu-item a:hover {
    color: #626560 !important;
}

.footerItem {
    width: calc(100%/3);
}

.footerWrapper button {
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .footerWrapper .logo {
        order: 3;
    }

    .footerWrapper {
        flex-direction: column;
    }

    .footerFeedback {
        margin: 30px 0;
    }
}

@media screen and (max-width: 576px) {
    .footerMenu .menu {
        flex-wrap: wrap;
    }

    .footerMenu .menu-item:not(.sub-menu .menu-item) {
        width: 50%;
    }

    .footerMenu .menu .menu-item {
        margin-bottom: 10px;
    }

    .footerMenu .menu .menu-item:last-child,
    .footer .menu-item a {
        margin: 0;
    }

    footer .logo img,
    .footerWrapper button {
        margin: 0;
    }
}

/* icons */
.telIcon {
    position: relative;
    padding-left: 25px;
}

.telIcon::before {
    content: '';
    background-image: url(/wp-content/themes/workportfolio/assets/tel.svg);
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 19px;
    left: 0;
}

.phone-icone {
    width: 20px;
}

/* feedback form */
.feedbackForm {
    position: relative;
}

.feedbackForm_title {
    margin-bottom: 25px;
}

.feedbackForm-wrapper {
    padding: 90px 20px 20px 20px;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedbackForm_body {
    max-width: 440px;
    width: 100%;
}

.feedbackInput::placeholder {
    text-align: center;
}

textarea.feedbackInput::placeholder {
    text-align: left;
}

.feedbackInput {
    background-color: inherit;
    width: 100%;
    padding: 10px 0 10px 5px;
    resize: none;
}

textarea.feedbackInput::placeholder {
    padding-left: 10px;
}

.wpcf7-form .secondaryButton {
    width: calc(100% + 7px);
}

.wpcf7-form p {
    margin-bottom: 0;
}

/* contacts icon */
.contacts_wrapper {
    position: relative;
    padding-top: 90px;
}

.contacts {
    max-width: 500px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.contacts_title {
    margin-bottom: 30px;
}

.contacts_items {
    display: flex;
    justify-content: space-between;
}

.contacts_icon {
    width: 30px;
    margin: 0 auto 10px auto;
}

.slidesDashboard {
    padding: 0 0 10px 0;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.postModalSlider_contentWrapper {
    max-width: calc(100vw - 10%);
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .contacts_items {
        flex-direction: column;
    }

    .contacts_item {
        margin: 10px 0;
    }

    .contacts_item:first-child {
        margin-top: 0;
    }

    .contacts_item:last-child {
        margin-bottom: 0;
    }
}